:root {
    --primary-color: #5595ec; 
}

.sideBar {
    background-color: var(--primary-color);
    align-items: center;
}

.sideBarLink {
    font-family: "roboto";
    font-weight: bold;
    color: rgb(51, 53, 70);
    color: white;
    align-content: center;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.activeLink {
    color: white;
    background-color: #4c80c5;
    border-radius: 8px;
}
