<html>
    <head>
        <title>Form 1</title>

    </head>
    <body>
        <form method="POST" action="/new">
            <input type="text" name="itemName"></input> name <br>
            <input type="text" name="quantity"></input> quantity <br>
            <input type="text" name="minLevel"></input> minimum level <br>
            <input type="text" name="price"></input> price <br>
            <input type="submit" value="submit"></input>
        </form>
    </body>
</html>