<style>
</style>

<link rel="stylesheet" href="/stylesheets/InventoryStyle.css">

<aside class=" sideBar" style="width: 230px;">

        <img src="/images/TempLogo.png" width="150" height="150" style="margin: auto; display: block;">

    <ul class="nav nav-pills flex-column">

    <li>
        <a href="/dashboard" class="sideBarLink ">
        <img class="mx-2" src="/images/DashboardIcon.png" width="30" height="30">
        Dashboard
        </a>
    </li>
    <li>
        <a href="/items" class="sideBarLink" style="">
        <img class="mx-2" src="/images/ItemsIcon.png" width="30" height="30">
        Items
        </a>
    </li>

    </ul>

    <script>
        function currentPageMatchesLink() 
        {
            const current = window.location.href;
            document.querySelectorAll(".sideBarLink").forEach(function(elem) {
                if (elem.href == current) {
                    elem.classList.add("activeLink");
                }
            });
        }

        currentPageMatchesLink();
    </script>
</aside>