:root {
    --bs-primary: #5595ec;
    --primary-color: #5595ec;
    --primary-font: roboto;
    --dashboard-tile-size: 200px;
}

.appFont {
    font-family: var(--primary-font);
}

.sideBar {
    background-color: #5595ec;
    align-items: center;
}

.sideBarLink {
    font-family: var(--primary-font);
    font-weight: bold;
    color: rgb(51, 53, 70);
    color: white;
    align-content: center;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.activeLink {
    color: white;
    background-color: #4c80c5;
    border-radius: 8px;
}

.inventoryBtn {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 100%;
}

.searchBar {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    text-shadow: none;
    box-shadow: none;

    background: url(/images/SearchIcon.png) no-repeat scroll 5px 5px;
    background-color: white;
    background-size: 20px;
    height: 30px;
    padding: 10px;
    padding-left: 30px;

    font-family: var(--primary-font);
}

.editInput {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    text-shadow: none;
    box-shadow: none;

    height: 30px;

    padding: 0px;
    padding-left: 5px;

    font-family: var(--primary-font);
}

.loginInput{

    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    text-shadow: none;
    box-shadow: none;

    height: 40px;
    width: 100%;

    padding: 0px;
    padding-left: 5px;

    font-family: var(--primary-font);
}

.itemsTable {
    font-family: var(--primary-font);
    font-size: 14px;
}

.enhancedText {
    font-family: var(--primary-font);
    color: rgb(58, 58, 58);
    font-size: 14px;
}

.msgPopup {
    display: none;
    background-color: var(--primary-color);
    border-radius: 10px;

    font-family: var(--primary-font);
    text-align: center;
    align-content: center;

    padding: 25px;
    position: absolute;
    bottom: 8%;
    left: 50%;

    transition: opacity 1s;
    z-index: 9999;
}

.msgPopup-hide {
    opacity: 0;
}

.textBlockWithBGColor {

    background-color: rgb(250, 81, 68);
    color: white;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    height: 20px;
    align-content: center;
    text-align: center;
}

.textBlockNoBGColor {
    display: inline;
    align-content: center;
    text-align: center;
    padding-left: 10px;
}

.highlightRow {
    background-color: green;
}

.table tr.table-active td {
  background-color: #bde299; /* Your desired background color */
}

.dashboardTile 
{
    width: var(--dashboard-tile-size);
    height: var(--dashboard-tile-size);
    background-color: rgb(255, 255, 255);
    margin: 20px;

    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgb(219, 218, 218));

    font-family: var(--primary-font);

    display: grid;
    place-items: center;
}

.datepicker {
    z-index: 9999;
}

.datePickerBtn {
    background-color: rgb(231, 231, 231);
    color: rgb(59, 59, 59);
    border-radius: 5px;
    border: none;

    height: 30px;
    width: 300px;

    font-family: var(--primary-font);
    font-size: 15px;
}

.datePickerBtn:hover {
    background-color: rgb(179, 178, 178);
}

.datePicker-dropdown {
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 10px;
    background-color:   rgb(231, 231, 231);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.datePicker-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.datePicker-dropdown a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.show {
    display: block;
}

.greyText {
    color: rgb(150, 150, 150);
    font-family: var(--primary-font);
    pointer-events: none;
}

.extraOptionsBtn {
    background-color: rgb(231, 231, 231);
    color: rgb(59, 59, 59);
    border-color: rgb(231, 231, 231);
    border-radius: 5px;

    font-family: var(--primary-font);
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.extraOptionsBtn:hover {
    background-color: rgb(179, 178, 178);
    border-color: rgb(179, 178, 178);
}